
table {
    border: 1px solid #ccc;
}

.div1 {
    display: flex;
    margin-bottom: 10px;
}


.div2 div{
    margin-bottom: 10px;
    margin-right: 20px;
}

.search {
    display: flex;
    flex-direction: row;
}

.search input {
    margin-right: 10px;
}

.div-search {
    display: flex;
    justify-content: flex-end;
}

.div-clear {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.text-danger {
    color: red;
}

@media screen and (min-width: 1000px) {
    table {
        min-width: 800px;
    }
}

@media screen and (max-width: 990px) {
    table {
        width: 100%
    }

    .div2 {
        display: flex;
        flex-direction: column;
    }
}