.btn-color {
    background-color: rgb(255,83,13) !important;
    border: rgb(255,83,13) !important;
    color: white !important;
}

.btn-color:hover {
    background-color: rgb(227, 65, 2)!important;
    border: rgb(227, 65, 2) !important;
}

.btn-color-outline {
    background-color: white !important;
    border: 1px solid rgb(255,83,13) !important;
    color: rgb(255,83,13) !important;
}

.btn-color-outline:hover {
    background-color: rgb(255,83,13) !important;
    border: 1px solid rgb(255,83,13) !important;
    color: white !important;
}