<div class="row div1">
    <div class="col-md-6">
        <button class="btn btn-color" (click)="openAddModal()"><i class="bi bi-plus"></i> Add Company</button>
    </div>
</div>
<div class="row div2">
    <div class="col">
        <div class="search">
            <input type="radio" name="searchOption" [(ngModel)]="selectedSearch" (click)="clearFiels()" value="id">
            <input class="form-control" type="number" [(ngModel)]="searchId" placeholder="Search by ID" 
            (keydown)="preventInvalidInput($event)" (paste)="preventPaste($event)" [disabled]="selectedSearch !== 'id'">

            <button class="btn btn-color" (click)="searchById()" [disabled]="selectedSearch !== 'id'">
              <i class="bi bi-search"></i>
            </button>
        </div>
        <span *ngIf="searchIdError" class="text-danger">{{ searchIdError }}</span>
    </div>
    <div class="col">
        <div class="search">
            <input type="radio" name="searchOption" [(ngModel)]="selectedSearch" (click)="clearFiels()" value="isin">
            <input class="form-control" [(ngModel)]="searchIsin" placeholder="Search by ISIN" [disabled]="selectedSearch !== 'isin'">

            <button class="btn btn-color" (click)="searchByIsin()" [disabled]="selectedSearch !== 'isin'">
              <i class="bi bi-search"></i>
            </button>
        </div>
        <span *ngIf="searchIsinError" class="text-danger">{{ searchIsinError }}</span>
    </div>
    <div class="col">
        <div class="div-clear">
            <button class="btn btn-color" (click)="clearSearch()">Clear</button>
        </div>
    </div>
</div>

<div class="table-responsive">
<table class="table table-striped">
    <thead >
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Exchange</th>
        <th>Ticker</th>
        <th>ISIN</th>
        <th>Website</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <td>{{ company.id }}</td>
        <td>{{ company.name }}</td>
        <td>{{ company.exchange }}</td>
        <td>{{ company.ticker }}</td>
        <td>{{ company.isin }}</td>
        <td>{{ company.website }}</td>
        <td>
          <button class="btn btn-sm btn-color-outline" type="button" (click)="openEditModal(company)">Edit</button>
        </td>
      </tr>
    </tbody>
</table>
</div>


<!-- Show Modal Component Conditionally -->
<app-modal 
  *ngIf="showModal"
  [item]="selectedItem"
  [titleModal]="isNew ? 'Add Company' : 'Edit Company'" 
  (save)="saveChanges($event)" 
  (close)="closeModal()">
</app-modal>